<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Travel Diary</title>
  <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{css/templatemo-style.css}">
  <link rel="stylesheet" th:href="@{fontawesome/css/all.min.css}">
  <script>
  </script>
</head>
<body>
<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<div th:replace="/navbar::nav"></div>
<div class="container-fluid tm-container-content tm-mt-60">
  <!-- Latest Contents  -->
  <div class="row mb-4">
    <h2 class="col-6 tm-text-primary">
      Latest Contents
    </h2>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <form action="" class="tm-text-primary">
        Page <input type="text" value="1" size="1" class="tm-input-paging tm-text-primary"> of 180
      </form>
    </div>
  </div>

  <!-- Category  -->
  <div class="row mb-4">
    <h2 class="col-6 tm-text-primary">
      Category
    </h2>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <form action="" class="tm-text-primary">
        Page <input type="text" value="1" size="1" class="tm-input-paging tm-text-primary"> of 180
      </form>
    </div>
  </div>
</div>
<script th:src="@{js/plugins.js}"></script>
<script>
  $(window).on("load", function () {
    $('body').addClass('loaded');
  });
</script>
</body>
</html>